$white: #fff;
$black: #000;

$grey-dalibert : #383838;
$mid-grey: #909090;
$grey-light: #e7e7e7;

$grey-puit: #a3a4a4;

$pink: #dea0a7;

$pink2 : #f7cac7;



$padding-home : 120px 0 150px 0;



$grid-float-breakpoint: 995px !default;;